@font-face {
    font-family: 'Cavolini Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Cavolini Regular'), url('fonts/CAVOLINI.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cavolini Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Cavolini Italic'), url('fonts/CAVOLINIITALIC.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cavolini Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Cavolini Bold'), url('fonts/CAVOLINIBOLD.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Cavolini Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Cavolini Bold Italic'), url('fonts/CAVOLINIBOLDITALIC.woff') format('woff');
    }

h1{
    color: #A5A5A5;
    font-family: "Cavolini Regular";
    font-size: 45pt;
    text-align: right;
    width: 100%;
    margin:0;
}
h2{
    color: black;
    font-family: "Cavolini Regular";
    font-size: 20pt;
    text-align: left;
    width: 100%;
    margin:0;
    text-decoration: underline;
}

ul.menu{
    font-family: "Cavolini Regular";
    list-style-type: none;
    background-color: #b0d3d8;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.submenu{
    font-family: "Cavolini Regular";
    list-style-type: none;
    background-color: #616161;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items:left;
}


ul.menu li, ul.submenu li{
    display:inline;
    color: #A5A5A5;
    padding-left: 10px;
    padding-right: 10px;
}

ul.menu li a, ul.submenu li a{
    color: #A5A5A5;
    text-decoration: none;
    height: 100%;
    display: inline-block;
    padding: 10px;

}
ul.menu li a:hover, ul.submenu li a:hover{
    background-color:#A5A5A5;
    color: black;
    transition-duration: 500ms;
    cursor:pointer;

}
p{
    font-family: "Cavolini Regular";
    color: #A5A5A5;
}



version {
    color:black;
    font-family: "Cavolini Regular";
    font-size: 30pt;
    text-decoration: underline;
    width: 100%;
    height: 100%;
    margin:0;
}

version newfeatures{
    color:black;
    font-family: "Cavolini Regular";
    font-size: 15pt;
    width: 100%;
    text-decoration: none;
    margin:0;
}

version bugs{
    color:black;
    font-family: "Cavolini Regular";
    font-size: 15pt;
    width: 100%;
    text-decoration: none;
    margin:0;

}

version newfeatures ul, version bugs ul{
    color:black;
    font-family: "Cavolini Regular";
    font-size: 10pt;
    width: 100%;
    margin:0;
    text-decoration: none;
}

version newfeatures ul li, version bugs ul li{
    color:black;
    font-family: "Cavolini Regular";
    font-size: 10pt;
    width: 100%;
    margin:0;
    text-decoration: none;
}


